.page-title {
	color: black;
	font-size: 18px;
	text-align: center;
	border-bottom: 5px solid black;
}

.twoblock {
	display: flex;
	flex-wrap: nowrap;
}

.title {
	color: #3a0192;
	/* font-size: 60px; */
	font-size: calc(60px + (72 - 60) * (100vw - 480px) / (1200 - 480));
	/* line-height: 28px; */
	line-height: calc(60px + (72 - 60) * (100vw - 600px) / (1200 - 600));
	/* padding: 20px; */
	/* padding: calc(60px + (80 - 40) * (100vw - 600px) / (1200 - 600)); */
	text-align: center;
}

@media (max-width: 768px) {
	.twoblock {
		flex-wrap: wrap;
	}
	.title {
		color: blue;
		font-size: 2rem;
		text-align: center;
	}
}

.fl-left {
	/* display: flex; */
	padding-left: 15px;
	padding-right: 15px;
	width: 40%;
}
.fl-right {
	/* display: flex; */
	/* padding-right: 15px; */
	/* width: 100%; */
	position: relative;
}

.blue-line {
	height: 40px;
	font-size: 18px;
	background-color: blue;
	color: white;
	align-items: center;
	justify-content: left;
	padding-left: 15%;
}

.left-up {
	z-index: 50;
	top: 10%;
	right: 10%;
	width: 20%;
	height: 80px;
	position: absolute;
	color: rgba(78, 76, 76, 0.993);
	text-align: center;
}

/* @media (max-width: 1200px) {
	.left-up {
		z-index: 50;
		top: 10%;
		right: 8%;
		width: 20%;
		height: 80px;
		position: absolute;
		color: rgba(78, 76, 76, 0.993);
		text-align: center;
	}
} */

.picture {
	padding-top: 20px;
	position: relative;
}

.right-up {
	z-index: 30;
	top: 120%;
	right: 10%;
	width: 20%;
	height: 80px;
	position: absolute;
	color: white;
	text-align: center;
}
/* 
.content {
	font-size: calc(18px + (24 - 18) * (100vw - 480px) / (1200 - 480));
	display: flex;
	align-content: space-between;
} */

p.content:first-letter {
	display: flex;
	align-self: flex-start;
	font-size: 4em;
	margin-right: 2px;
	color: blue;
	font-weight: bold;
	text-shadow: -1px -1px 1px white, 1px 1px 1px #9e9d99;
}

.perspective {
	background-color: #8296b5;
	/* background-position: right 50% bottom 70%; */
	background-size: 800px 300px;
	background-repeat: no-repeat;

	background: linear-gradient(to left, transparent, #8296b5),
		url("../img/Vane Bros-Assateague -DS801 ATB-Photo by Hank Carter.jpg");
}

.bkg-blue {
	width: 50%;
}

.bgk {
	width: 50%;
	height: 750px;
	/* background-image: url("../img/Vane Bros-Assateague -DS801 ATB-Photo by Hank Carter.jpg"); */
}
