@media (min-width: 480px) {
	.container {
		width: 480px;
		padding-left: 31px;
		padding-right: 31px;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.container {
		min-width: 768px;
		max-width: 1199px;
		width: 100%;
		padding-left: 39px;
		padding-right: 39px;
	}
}

@media (min-width: 1200px) {
	.container {
		min-width: 1200px;
		width: 100%;
		max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	.flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

.page-title {
	color: #370398;
	font-size: 18px;
	text-align: center;
}

hr {
	border-bottom: 5px solid black;
	width: 85%;
}

.twoblock {
	display: flex;
	flex-wrap: nowrap;
}

.tblock {
	display: flex;
	width: calc((100% - 2 * 8px) / 2);
}

.nowrap {
	flex-wrap: nowrap;
}

.wrap {
	flex-wrap: wrap;
}

.left {
	align-items: left;
	align-content: left;
	text-align: left;
}
.right {
	align-items: right;
	align-content: right;
	text-align: right;
}

.relative {
}

.title {
	color: #573ea2;
	/* font-size: 60px; */
	font-size: calc(60px + (72 - 60) * (100vw - 480px) / (1200 - 480));
	/* line-height: 28px; */
	line-height: calc(60px + (72 - 60) * (100vw - 600px) / (1200 - 600));
	/* padding: 20px; */
	/* padding: calc(60px + (80 - 40) * (100vw - 600px) / (1200 - 600)); */
	text-align: center;
	padding-left: 25%;
}

@media (max-width: 768px) {
	.twoblock {
		flex-wrap: wrap;
	}
	.title {
		color: #573ea2;
		font-size: 2rem;
		text-align: center;
	}
}

.fl-left {
	/* display: flex; */
	/* padding-left: 15px; */
	padding-right: 15px;
	width: 100%;
	flex: 1;
}

.fl-right {
	/* display: flex; */
	/* padding-right: 17px; */
	width: 100%;
	/* position: relative; */
	flex: 1;
}

.txt-vertical {
	-webkit-writing-mode: vertical-rl;
	writing-mode: tb-rl;
	-webkit-transform: rotate(180deg);
	/* transform: rotate(90deg); */
}

.blue-line {
	height: 40px;
	font-size: 18px;
	background-color: #360292;
	color: #feffff;
	align-items: center;
	justify-content: left;
}

.fl-left .blue-line {
	width: 100%;
	/* flex-wrap: wrap; */
}

.left-up {
	z-index: 50;
	top: 290%;
	left: 15%;
	width: 20%;
	height: 80px;
	position: absolute;
	color: rgba(78, 76, 76, 0.993);
	text-align: center;
}

/* @media (max-width: 1200px) {
	.left-up {
		z-index: 50;
		top: 10%;
		right: 8%;
		width: 20%;
		height: 80px;
		position: absolute;
		color: rgba(78, 76, 76, 0.993);
		text-align: center;
	}
} */

.picture {
	padding-top: 20px;
	position: relative;
}

.right-up {
	z-index: 30;
	top: 120%;
	right: 10%;
	width: 20%;
	height: 80px;
	position: absolute;
	color: white;
	text-align: center;
}

.content {
	/* font-size: calc(18px + (24 - 18) * (100vw - 480px) / (1200 - 480)); */
	/* display: flex; */
	/* align-content: space-between; */
	/* text-align: justify; */
	text-align: justify;
	width: 85%;
}

p.first-let:first-letter {
	display: flex;
	align-self: flex-start;
	font-size: 4em;
	margin-right: 2px;
	color: blue;
	font-weight: bold;
	text-shadow: -1px -1px 1px white, 1px 1px 1px #9e9d99;
}

.perspective {
	background-color: #8296b5;
	/* background-position: right 50% bottom 70%; */
	background-size: 800px 300px;
	background-repeat: no-repeat;

	background: linear-gradient(to left, transparent, #8296b5),
		url("../img/Vane Bros-Assateague -DS801 ATB-Photo by Hank Carter.jpg");
}

.bkg-blue {
	width: 50%;
}

.bgk {
	width: 50%;
	height: 750px;
	/* background-image: url("../img/Vane Bros-Assateague -DS801 ATB-Photo by Hank Carter.jpg"); */
}
